/**
 * HTML Elements
 */
body {
    background-color: #121212;
    color: #919191;
    font-family: sans-serif;
}

p {
    max-width: 940px;
    margin: 10px auto;
    line-height: 1.5em;
}

/**
 * Classes
 */
.boardContainer {
    display: inline-block;
    margin: 10px;
}

.center {
    text-align: center;
}

.code {
    background-color: #333;
    font-family: Courier;
}

.file {
    width: 80px;
    float: left;
}

.rank {
    height: 80px;
    line-height: 80px;
}

.topMsg {
    color: #ccc;
}

/**
 * IDs
 */
#chess_board {
    margin: 10px;
    border: solid 1px #999;
}

#pieces_img {
    display: none;
}

#rank_col {
    float: left;
    margin-top: 10px;
}

#rank_col::after {
    content: "";
    clear: both;
    display: table;
}

#file_row {
    margin-left: 20px;
}

#status_box {
    height: 55px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid 1px #999;
    color: #555;
    text-align: center;
    font-size: 16px;
}
