/**
 * HTML Elements
 */
body {
    background-color: #121212;
    color: #919191;
    font-family: sans-serif;
}

/**
 * Classes
 */
.boardContainer {
    display: inline-block;
    margin: 10px;
}

.center {
    text-align: center;
}

.code {
    background-color: #333;
    font-family: Courier;
}

.file {
    width: 80px;
    float: left;
}

.rank {
    height: 80px;
    line-height: 80px;
}

/**
 * IDs
 */
#chess_board {
    margin: 10px;
    border: solid 1px #555;
}

#pieces_img {
    display: none;
}

#rank_col {
    float: left;
    margin-top: 10px;
}

#rank_col::after {
    content: "";
    clear: both;
    display: table;
}

#file_row {
    margin-left: 20px;
}

#test_status {
    display: block;
    text-align: center;
    font-size: 16px;
}
